extends layout

block content
  h1(class='titles')= title
  h2(class='titles')= description

  
  div
  form(action='/subreddit',method='post')
    div(data-role='fieldcontain', class="subreddit-box")
        label(for='subreddit') /r/ 
           input(id='subreddit',type='text' ,placeholder='subreddit', name='subreddit')
        input(type='submit',value='go', class='subreddit-submit button-warning dark')

    label(for="gifs") Include gifs?  
           input(id='gifs', type="checkbox", name="gifs", checked=(true===false ? "checked" : undefined))

    label(for="nsfw") Include 18+?  
           input(id='nsfw', type="checkbox", name="nsfw", checked=(true===false ? "checked" : undefined))

    label(for="sort") Sort by?  
          select(id='sort', name='sort')
            option(value='hot') Hot
            option(value='new') New
            option(value='controversial') Controversial
            option(value='top') Top

    label(for="from") From?  
          select(id='from', name='from')
            option(value='all') All
            option(value='year') Year
            option(value='month') Month
            option(value='week') Week
            option(value='day') Day
  div(class='subtext')
    p Please wait for the page to render the collage - this may take minutes based on your internet connection.
    p Thank you for your patience.



  div(class='footer')
    p Created by <a href="http://www.chrisgregori.co.uk">#{author}</a>
    //include donate.html
    p(class='subtext') This site is not affiliated in anyway with reddit. It is not made or maintained by reddit.<br> This site is powered by the reddit API via the <a href="https://github.com/Stebon24/redwrap">redwrap API wrapper</a>, and <a href="http://ed-lea.github.io/jquery-collagePlus/">CollagePlus plugin</a>.


